<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../layouts/head', { title: 'Fansfund | codewithsadee' }) %>
</head>
<body class="background on-surface-text">

     <!--
        - #TOP BAR
    -->
    <header class="top-bar">
        <div class="container">
            <a href="" class="logo">
                <img src="/images/logo.svg" alt="Fansfundlogo">
            </a>
        </div>
    </header>

    <main class="main">
        <article>

            <!--
                -HERO
            -->
            <section class="hero">
                <div class="container">

                    <figure class="hero-banner">
                        <img src="/images/banner.png" alt="" width="944" height="280" class="img-cover">
                    </figure>

                    <div class="hero-card">

                        <figure class="card-banner">
                            <img src="/images/profile-photo.png" alt="" width="120" height="120" class="img-cover">
                        </figure>

                        <div class="card-content">
                            <h2 class="card-title">codewithsadee</h2>
    
                            <p class="subtitle body-medium on-surface-variant-text">
                                Software Engineer
                            </p>
    
                            <p class="card-text body-medium on-surface-variant-text">
                                Become proficent web developer through a hands-on projects-centered
                                approach.
                            </p>
                        </div>

                    </div>

                </div>
            </section>

            <div class="container lg-col-2">

                <!--
                    -#CONTRIBUTE
                -->      
                
                <section class="card elevated contribute">

                    <h2 class="title-medium">
                        Show your love to codewithsadee
                    </h2>

                    <form action="" class="contribute-form" data-contribute-form>
                        
                        <div class="counter-wrappper">

                            <div class="body-medium on-surface-variant-text counter-label">
                                <span class="material-symbols-rounded primary-text icon-small">
                                    favorite
                                 </span>

                                 1$ each
                            </div>

                            <div class="counter">

                                <button class="icon-btn filled" data-decrement-btn>
                                    <span class="material-symbols-rounded">
                                        remove
                                    </span>

                                    <div class="state-layer"></div>
                                </button>

                                <div class="text-field-wrapper counter-field">
                                    <input type="number" name="amount" value="1" min="1" max="999" required 
                                    class="text-field outlined body-large" data-counter-field 
                                    data-form-field>
                                </div>

                                <button class="icon-btn filled" data-increment-btn>
                                    <span class="material-symbols-rounded">
                                        add
                                    </span>

                                    <div class="state-layer"></div>
                                </button>

                            </div>

                        </div>

                        <div class="text-field-wrapper">
                            <label for="name" class="text-field-label body-large">Name</label>

                            <input type="text" name="name" id="name" placeholder="Name or @yourtwitter (optional)" 
                            class="text-field outlined body-large" data-form-field>
                        </div>

                        <div class="text-field-wrapper">
                            <label for="email" class="text-field-label body-large">Email</label>

                            <input type="email" name="email" id="email" placeholder="Your email address"
                            class="text-field outlined body-large" data-form-field>
                        </div>

                        <div class="text-field-wrapper">
                            <label for="message" class="text-field-label body-large">Message</label>

                            <textarea name="message" id="message" placeholder="Say something (optional)" 
                            class="text-field outlined body-large" data-form-field></textarea>
                        </div>

                        <button type="submit" class="button filled label-large"
                         data-submit-btn>
                            Contribute $<span data-total>1</span>

                            <div class="state-layer"></div>
                        </button>

                    </form>

                </section>

                <div>

                    <!--
                        -#ABOUT
                    -->

                    <section class="card outlined about">

                        <h2 class="title-medium">About</h2>

                        <p class="card-text on-surface-variant-text body-medium">
                            Hey there! If you have learned anything from my work or just enjoys our time 
                            together on YouTube, you can now show your support - thank you so much!
                        </p>

                        <p class="card-text on-surface-variant-text body-medium wrapper">
                            <span class="material-symbols-rounded icon small">alternate_email</span>

                            <a href="">codewithsadeee@gmail.com</a>
                        </p>

                        <ul class="social-list">

                            <li>
                                <a href="http://youtube.com/codewithsadee" target="_blank" 
                                class="social-link">
                                    <img src="/images/youtube.svg" width="24" height="24" alt="youtube">
                                </a>
                            </li>

                            <li>
                                <a href="http://instagram.com/codewithsadee" target="_blank" 
                                class="social-link">
                                    <img src="/images/instagram.svg" width="24" height="24" alt="instagram">
                                </a>
                            </li>

                            <li>
                                <a href="http://twitter.com/codewithsadee_" target="_blank" 
                                class="social-link">
                                    <img src="/images/x.svg" width="24" height="24" alt="twitter">
                                </a>
                            </li>

                            <li>
                                <a href="http://discord.gg/DhhydBpPfp" target="_blank" 
                                class="social-link">
                                    <img src="/images/discord.svg" width="24" height="24" alt="discord">
                                </a>
                            </li>

                        </ul>

                    </section>

                     <!--
                        -#HISTORY
                    -->
                    <section class="card outlined history">

                        <h2 class="title-medium">Recent Supporters</h2>

                        <% if (locals.supporterList.length) { %>

                            <ul class="history-list">

                                <% locals.supporterList.forEach(({ name, amount, message }) => { %>
                                    <li class="history-card">
    
                                        <div class="card-header">
                                            <div class="card-avater label-large"><%= locals.getAvatar(name) %></div>
        
                                            <h3 class="title-small card-title">
                                                <%= name %> Contributed with <span class="primary-text">$<%= amount %></span>
                                            </h3>
                                        </div>
        
                                        <% if (message) { %>
                                            <P class="card-body body-large on-surface-variant-text">
                                                <%= message %>
                                            </P>
                                        <% } %>
        
                                    </li>
                                <% }); %>
    
                            </ul>
                         
                        <% } else {  %>
                            <p class="body-medium on-surface-variant-text">No supporters yet.</p>
                        <% } %>

                    </section>

                </div>

            </div>

        </article>
    </main>

     <!--
        - #FOOTER
    -->
    <footer class="footer">
        <p class="body-medium on-surface-variant-text">
            &copy; 2024 codewithsadee
        </p>
    </footer>
    
</body>
</html>